body{
    background-image: url("./assets/back.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin: 0px 20px;
    padding: 0 2% 3%;
    font-family: 'Iceland', cursive !important;
    background-attachment:fixed;
}
.logo{
    width: 15%;
    height: 83px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    height: 100%;
}


.parent {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.75fr repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
        
        .div1 { grid-area: 1 / 1 / 4 / 5; }
        .div2 { grid-area: 1 / 5 / 6 / 7; }
        .div3 { grid-area: 4 / 1 / 6 / 5; }

    .div1,.div2,.div3{
        background-color: #7878784d;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 6%;
    }


    ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: black;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(140, 140, 140); 
      }


      .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45px;
        font-size: 20px;
        color: white;
      }

      button {
        border: solid white;
        padding: 1% 8% !important;
        border-radius: 5px;
        background: #0000007a !important;
        color:909090 !important;
    }
    span{
        color:white;
    }
    button:hover{
        background-color:#ffffff7a !important ;
        color:black !important;
    }

    .footer{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
        position: absolute;
        width: 92%;
        bottom: -25%;
        font-size: 20px;
    }


    a#tuto {
        color: red;
    }
    a#tuto:hover{
        text-decoration: underline !important;
    }